<div class="about-container row">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" [src]="face" alt="Imagen de perfil" width="250">
        <h1 class=" name text-center">María Florencia Scarabotti</h1>
        <p class="qualification text-center">
            Full Stack Web Developer
        </p>
    </div>
    <div class="text-about col-9">
        <h3 class="section-title">Sobre mí</h3>
        <p class="about-description text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iusto iure ex quia esse aspernatur a ut cupiditate nobis facere hic quo ea, accusantium in!
        </p>
    </div>
</div>