.navbar-container{
    padding: 2rem 3rem;

    .navbar-right{
        .social{
            a.social-linkedin{
                color: #007bb6;
            }
            a.social-whatsapp{
                color: #148b24;
            } 
            a.social-instagram{
                color: #8f12a0;
            } 
            a.social-github{
                color: #2f3131;
            }
            a:hover{
                scale: 1.2;
            }
        }
        
    }


}