.work-container{
 margin-top: 2rem;   
 margin-left: 2rem;
 img.img-work{
    width: 200px;
    height: auto;
 }

 .text-work{
    margin-left: 3rem;
    h5{
        font-size: 2.5rem;
    }
    .work-description{
        font-size: 1.75rem;
    }
 }

 /*.edition-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
 }*/



}